        <footer>
            <div id="footer" class="items-center justify-center gap-7 py-8 grid md:grid-cols-3 px-5">
                <a href="/noFace/home" class="logo mx-auto md:mx-0 md:w-32 w-24"><img src="/images/stayNoFaceLogo.png" alt="" class="transition hover:scale-105" /></a>
                <div class="flex flex-col gap-2 justify-center text-center">
                    <p><a class="hover:opacity-80" href="/noFace/home/shop">Shop</a></p>
                    <p><a class="hover:opacity-80" href="/noFace/home/sobre">Sobre nós</a></p>
                    <p><a class="hover:opacity-80" href="/noFace/home/lookbook">Lookbook</a></p>
                    <p><a class="hover:opacity-80" href="/noFace/home/politicas">Política de troca e devolução</a></p>
                    <p><a class="hover:opacity-80" href="#rodape">Fale conosco</a></p>
                </div>
                <div class="flex justify-center gap-2 md:flex-col items-end">
                    <a href="https://www.instagram.com/staynof/" class="hover:scale-105 transition">
                        <div class="w-fit rounded-full bg-gray-950 p-2 hover:bg-opacity-85">
                            <svg class="svg-inline--fa fa-instagram size-5 text-white" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                            </svg>
                        </div>
                    </a>
                    <a href="https://wa.me/5519998852902" class="hover:scale-105 transition">
                        <div class="w-fit rounded-full bg-gray-950 p-2 hover:bg-opacity-85">
                            <svg class="svg-inline--fa fa-whatsapp size-5 text-white" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="whatsapp" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M380.9 97.1C339.3 55.6 285.6 32 228.4 32 132 32 48 108.2 48 208c0 37.8 10.3 74.7 29.8 107L44.4 463.5l151-39.5c31.2 14.5 65.1 22 100 22h.1c96.5 0 180.4-76.1 180.4-176 .1-47.5-19.3-92.7-55-126.9zM228.4 416c-30.8 0-61.4-7.1-88.6-20.4l-5.9-3-89.7 23.3 23.8-87.3-3.8-6.1C54.4 291.3 46 250.8 46 208 46 126.1 123.5 64 228.4 64c48.6 0 94.5 18.7 129.2 52.7 33.7 33.1 52.3 76.4 52.2 122.3 0 86.7-75.1 177-181.4 177z"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>