<header class="bg-gray-950 px-5 py-2">
    <div class="relative flex items-center justify-between max-w-[100rem] mx-auto">
        <a href="/noFace/home" class="transition hover:scale-105"><img src="/images/light_noFaceLogo.png" alt="" class="w-20"/></a>
        <div id="abrirMenu" class="block md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>
        <div id="navbar" class="gap-5 text-white md:flex hidden flex items-center">
            <a href="/noFace/home" class="hover:opacity-85 px-2 py-1 rounded-md">Home</a>
            <a href="/noFace/home/shop" class="hover:opacity-85 px-2 py-1 rounded-md">Shop</a>
            <a href="/noFace/home/portfolio" class="hover:opacity-85 px-2 py-1 rounded-md">Portfólio</a>
            <a href="#footer" class="hover:opacity-85 px-2 py-1 rounded-md">Contato</a>
        </div>
    </div>
</header>
<body class="font-sans antialiased dark:bg-white-950 dark:text-dark/50">
