<header>
    <div class="relative flex items-center justify-between bg-gray-950 px-5 py-2">
        <a href="noFace/"><img src="/images/noFaceLogo.png" alt="" class="w-20"/></a>
        <div id="abrirMenu" class="block md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>
        <div id="navbar" class="gap-5 text-white md:flex hidden">
            <p><a href="noFace/">Home</a></p>
            <p><a href="noFace/shop">Shop</a></p>
            <p><a href="noFace/portfolio">Portfólio</a></p>
            <p><a href="#footer">Contato</a></p>
        </div>
    </div>
</header>
<body class="font-sans antialiased dark:bg-gray-950 dark:text-white/50">
