    <div class="container">
        <div class="content">
            <div class="text">
                <h1>Explore a essência urbana em cada detalhe</h1>
                <p>Fortalecendo a autoexpressão através do estilo e do lifestyle urbano</p>
                <a href="/noFace/home/lookbook" class="btn">Conheça nosso lookbook</a>
            </div>
            <div class="image-container">
                <img src="/images/homePageModel.png" alt="Modelo 3D" class="image">
            </div>
        </div>
    </div>