@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #a8a8a8;
    background: linear-gradient(to right, #e2e2e2, #5e5e5e);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background: linear-gradient(to right, #2f2f2f, #121212);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 768px;
    color: white;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #fff;
    color: #121212;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 20px 0;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 10px;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 80%;
    outline: none;
}

.container button:hover,
.form-container a:last-child:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.form-container a:last-child {
    color: white;
    text-decoration: underline;
}

.brand img {
    width: 20%;
    margin-bottom: 5vh;
}

.password-container {
    position: relative;
    width: 100%;
}

#confirmPassword {
    width: 80%;
    padding-right: 30px;
}

.eye-icon {
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: black;
}

