<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/login/login.css">

    <title>NoFace | Recuperar senha</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in">
            <a href="/noFace/home" class="brand">
                <img id="logo" src="/images/light_noFaceLogo.png">
            </a>
            <form action="newPassword" method="POST">
                <h1>Nova senha</h1>
                <p class="description description-second">Digite sua nova senha abaixo para garantir seu acesso</p>

                <div class="password-container">
                    <input type="password" id="confirmPassword" name="password" placeholder="Nova senha" required>
                    <span id="togglePassword" class="eye-icon">&#128065;</span>
                </div>

                <div class="password-container">
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirme sua senha" required>
                    <span id="togglePassword" class="eye-icon">&#128065;</span>
                </div>

                <button>Confirmar</button>
            </form>
        </div>
    </div>

    <div id="error-container" data-error="<%= error || '' %>"></div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/login/login.js"></script>
    <script>
        function removeQueryParam(param) {
            const url = new URL(window.location.href);
            url.searchParams.delete(param);
            window.history.replaceState({}, document.title, url);
        }

        const params = new URLSearchParams(window.location.search);
            const message = params.get('message');
            const error = params.get('error');

            if (message) {
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: message,
                }).then(() => {
                    removeQueryParam('error');
                });
            }

            if (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: error,
                    confirmButtonText: 'Ok',
                    customClass: {
                        title: 'font-family',
                        text: 'font-family',
                        confirmButton: 'btn-second'
                    }
                }).then(() => {
                    removeQueryParam('error');
                });
            }

    </script>
</body>

</html>