<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.75">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="assets/style.css">
        <script src="/js/users/menu.js"></script>
        <title>NoFace | Portfolio</title>
    </head>
    <%- include('../partials/header.ejs') %>
    <div>
        <div class="flex bg-black">
            <div class="w-2/3">
                <img src="/images/portfolio/img-1.jpg" alt="">
            </div>
            <div class="px-10 my-auto text-white">
                <h1 class="text-6xl font-medium">𝙽𝚘𝙵𝚊𝚌𝚎</h1>
                <p class="mt-2 text-2xl font-medium">𝚅𝚒𝚜𝚝𝚊 𝚊 𝚛𝚞𝚊</p>
            </div>
        </div>
        <div class="flex">
            <div>
                <img src="/images/portfolio/IMG_2646.jpg" alt="">
                <img src="/images/portfolio/IMG_0230.jpg" alt="">
                <img src="/images/portfolio/1721235140188.jpg" alt="">
                <img src="/images/portfolio/IMG_0384.jpg" alt="">
                <img src="/images/portfolio/NL3A4480.jpg" alt="">
                <img src="/images/portfolio/IMG_0241.jpg" alt="">
                <img src="/images/portfolio/IMG_0213.jpg" alt="">
            </div>
            <div class="flex flex-col">
                <img src="/images/portfolio/IMG_0370.jpg" alt="">
                <img src="/images/portfolio/IMG_0365-2.jpg" alt="">
                <img src="/images/portfolio/NL3A4347.jpg" alt="">
                <img src="/images/portfolio/IMG_2515.jpg" alt="">
                <img src="/images/portfolio/IMG_0243.jpg" alt="">
                <img src="/images/portfolio/NL3A4462.jpg" alt="">
                <img src="/images/portfolio/NL3A4418.jpg" alt="">
            </div>
            <div>
                <img src="/images/portfolio/img-2.jpg" alt="">
                <img src="/images/portfolio/IMG_2587.jpg" alt="">
                <img src="/images/portfolio/NL3A4402.jpg" alt="">
                <img src="/images/portfolio/IMG_2512.jpg" alt="">
                <img src="/images/portfolio/IMG_2557.jpg" alt="">
                <img src="/images/portfolio/IMG_0223.jpg" alt="">
                <img src="/images/portfolio/IMG_0263.jpg" alt="">
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
