<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.75">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/assets/style.css">
        <link rel="stylesheet" href="/css/home/sobre.css">
        <link rel="shortcut icon" href="/images/dark_noFaceLogo.png">
        <script src="/js/home/menu.js"></script>

        <title>NoFace | Shop</title>
    </head>
    <div class="relative">
        <div id="header" class="absolute z-10 w-full">
            <%- include('../partials/header.ejs') %>
        </div>
        <div class="h-full flex-grow bg-[url('/images/IMG_0241.jpg')] bg-cover bg-center">
            <div class="backdrop-blur-lg">
              <div class="h-svh content-center py-52 text-center text-white">
                <p class="text-lg">Vista a nossa luta. Seja</p>
                <p class="text-5xl font-bold md:text-7xl">NOFACE</p>
              </div>
              <div class="relative mx-12 pb-20 text-justify md:mx-auto md:max-w-[40rem] lg:max-w-[50rem] xl:max-w-[70rem]">
                <div class="place-self-start rounded-xl bg-black bg-opacity-30 p-5 text-white md:w-[70%] lg:order-1 lg:p-7 xl:w-[50%]">
                  <p class="text-lg lg:text-xl">A NOFACE nasceu no coração das ruas, inspirada pelo grafite, pelo skate e pelo hip-hop, elementos que carregam a essência da resistência e da expressão. Somos mais do que uma marca de streetwear: somos a representação da realidade crua e autêntica do nosso contexto social.</p>
                </div>
          
                <div class="mt-12 flex justify-end md:mt-16 lg:mt-24">
                  <div class="rounded-xl bg-white bg-opacity-20 p-5 md:w-[70%] lg:p-7 xl:w-[50%]">
                    <p class="text-lg lg:text-xl">Nós, pretos, sabemos o peso de ter que ser dez vezes melhores para conquistar nosso espaço em um sistema que constantemente nos invisibiliza. Por isso, a NOFACE foi criada: para dar voz e destaque àqueles que o sistema tenta silenciar. Somos a manifestação mais pura da contra-cultura, desafiando quem nos quer por baixo e exaltando nossa autoestima.</p>
                  </div>
                </div>
                <div class="mx-auto my-16 w-44 md:w-52 lg:my-32">
                  <img src="/images/light_noFaceLogo.png" alt="" class="h-full w-full" />
                </div>
                <div class="rounded-xl bg-black bg-opacity-50 p-5 text-white lg:p-7">
                  <p class="text-lg lg:text-xl">Estamos aqui para ocupar espaços que dizem não ser nossos, para aparecer onde não nos querem, e para fortalecer aqueles que compartilham da nossa luta. A NOFACE é sobre união, resistência e transformação. Vista nossa luta. Seja NOFACE.</p>
                </div>
              </div>
            </div>
          </div>
        <%- include('../partials/footer.ejs') %>
    </div>
