body {
    z-index: 1;
    background-color: white !important;
}

button:hover,
a:hover,
p:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.produtos {
    min-height: 30vh;
    margin-bottom: 20vh;
}

.pb-10 {
    padding-bottom: 2.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.mt-40 {
    margin-top: 10rem;
}

.w-36 {
    width: 9rem;
}

#navbar {
    z-index: 1;
}

.produtoImg {
    height: 30vh;
}

@media (max-width: 768px) {
    .md\:pb-32 {
        padding-bottom: 8rem;
    }
    .md\:mt-0 {
        margin-top: 0;
    }
    .mt\:w-44 {
        width: 11rem;
    }
    
}

@media (max-width: 480px) {
    .text h1 {
        font-size: 1.5rem;
    }

    .text p {
        font-size: 0.9rem;
    }

    .text .btn {
        padding: 8px 12px;
    }
}
