body {
    z-index: 1;
    background-color: white !important;
}

button:hover,
a:hover,
p:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.produtos {
    min-height: 30vh;
    margin-bottom: 20vh;
}

.pb-10 {
    padding-bottom: 2.5rem;
}

#navbar {
    z-index: 1;
}

@media (max-width: 768px) {
    .md\:pb-32 {
        padding-bottom: 8rem;
    }
}

@media (max-width: 480px) {
    .text h1 {
        font-size: 1.5rem;
    }

    .text p {
        font-size: 0.9rem;
    }

    .text .btn {
        padding: 8px 12px;
    }
}
