<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoFace | Página não encontrada</title>

    <link rel="shortcut icon" href="/images/dark_noFaceLogo.png">

    <link rel="stylesheet" href="/css/global.css">
    <style>
        body {
            font-family: var(--poppins);
            text-align: center;
            padding: 50px;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        img {
            width: 40%;
        }

    </style>
</head>
<body>
    <main>
        <div class="image">
            <img src="/images/noProduct.png">
        </div>
        <div class="subject">
            <h1>404 - Página não encontrada</h1>
            <p>Desculpe, a página que você tentou acessar não existe.</p>
            <p><a href="/noFace/home">Voltar para a página inicial</a></p>
        </div>
    </main>
</body>
</html>
